body {
    font-family: 'Roboto', sans-serif; /* A modern, clean font */
    background-color: #f0f2f5; /* Soft background color */
    color: #2c3e50; /* Darker shade for text */
    margin: 0;
    padding: 0;
}
#Creater{
    text-transform:capitalize;
    text-align: center;
    background-color:#264b2e;
    color: white;
}



.container {
    width: 80%;
    margin: auto;
    padding: 30px;
    background-color: #cfecdc; 
    border-radius: 12px; 
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.15); 
    max-width: 900px; 
}

 h2 {
    color: #34495e; 
    font-weight: 600; 
}
h1{
    color: #fbfcfb;
    background-color: #264b2e;
    text-align: center;
   
}

form {
    margin-bottom: 30px;
    background-color: #ddf3e5; 
}

label {
    display: block;
    margin-bottom: 8px; 
    color: #2c3e50;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px; /* Larger spacing */
    border: 1px solid #ccc;
    border-radius: 8px; /* Softer, rounded inputs */
    font-size: 16px; /* Larger input text */
    background-color: #f9fafb; /* Light background inside inputs */
}

input, textarea:active{
    border-radius: 2px rgb(5, 53, 5);
}
button {
    padding: 12px 24px;
    background-color: #264b2e; /* Vibrant green for primary buttons */
    color: #fff;
    border: none;
    border-radius: 8px; 
    font-size: 16px; 
    cursor: pointer;
    transition: background-color 0.3s ease; }

button:hover {
    background-color: #218838; 
}

#shareOptions a {
    color: #17a2b8; /* Bright cyan for links */
    text-decoration: none;
    font-weight: bold;
}



#shareOptions a:hover {
    text-decoration: underline;
}

.editable {
    color: #34db8d; /* Light blue for editable sections */
    cursor: pointer;
    border-bottom: 1px dashed #34db95;
}

.editable:hover {
    text-decoration: underline;
}
